################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/images
[B|b]in
[O|o]bj
/src/Web/IdentityProvider/wwwroot/lib
/.idea
*.rsa
*.crt
*.pfx
*.pem
/src/Web/IdentityProvider/node_modules
/src/Web/IdentityProvider/package-lock.json
/src/Web/WebMvc/wwwroot/lib
