@model PaymentApiViewModel
@{
    ViewData["Title"] = "Request Payment API";
}
<h1>@ViewData["Title"]</h1>

<strong>Access Token:</strong><p>@Model.AccessToken</p>
<strong>Id Token:</strong><p>@Model.IdToken</p>
<strong>JSON:</strong><p>@Model.JsonResult</p>
